<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjc.seckilldemo.mapper.DepositMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zjc.seckilldemo.pojo.Deposit">
        <id column="identity" property="identity" />
        <result column="deposit" property="deposit" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        identity, deposit
    </sql>
<select id="findDepositByIdentity" resultType="com.zjc.seckilldemo.pojo.Deposit">
    SELECT
    *
    FROM t_deposit
    WHERE identity = #{identity}
</select>

    <update id="updateDepositByIdentity" parameterType="com.zjc.seckilldemo.pojo.Deposit">
        UPDATE t_deposit
        <set>
            <if test="deposit != null">deposit = #{deposit}</if>
        </set>
        WHERE identity = #{identity}
    </update>
    <insert id="createOrder">
    INSERT INTO t_deposit_order(out_trade_no,total_amount,identity,status)
    VALUES (#{orderNo},#{depositVo.total},#{depositVo.identity},"1")
</insert>
</mapper>
