<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjc.seckilldemo.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zjc.seckilldemo.pojo.User">
        <id column="id" property="id" />
        <result column="nickname" property="nickname" />
        <result column="password" property="password" />
        <result column="salt" property="salt" />
        <result column="head" property="head" />
        <result column="register_date" property="registerDate" />
        <result column="last_login_date" property="lastLoginDate" />
        <result column="login_count" property="loginCount" />
        <result column="identity" property="identity" />
    </resultMap>

    <resultMap id="ViolationRecordVo" type="com.zjc.seckilldemo.vo.ViolationRecordVo">
        <id column="id" property="id" />
        <result column="user_identity" property="user_identity"/>
        <result column="screen_id" property="screen_id" />
        <result column="description" property="description" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, nickname, password, salt, head, register_date, last_login_date, login_count, identity
    </sql>

   <select id="selectUserByIdentity" parameterType="String" resultType="com.zjc.seckilldemo.pojo.User">
       select * from `t_user` where identity = #{identity}
   </select>

    <select id="findUserViolationRecordVoByUseridentity"  resultMap="ViolationRecordVo">
        SELECT *
        FROM t_user_screen_description
        WHERE user_identity = #{identity}
    </select>
</mapper>
